body
{
  margin:0;
  padding:0;
font-family: 'Playfair Display', serif;
}


.border-top
{
    height: 10px;
    width: 100%;
    background:white;
    top: 0;
    position: fixed;
    z-index: 1;
    left: 0;
}
.border-bottom
{
    height: 10px;
    width: 100%;
    background:white;
    bottom: 0;
    position: fixed;
    z-index: 1;
    left: 0;
}

.border-left
{
    width: 10px;
    height: 100vh;
    background:white;
    position: fixed;
    z-index: 1;
    left: 0;
}

.border-right
{
    width: 10px;
    height: 100vh;
    background:white;
    position: fixed;
    z-index: 1;
    right: 0;
}


.container__background
{
  width:100%;
  min-height:100vh;
   background-image: url("pretty.jpg");
  background-size:cover;
}


.container_title
{
  width:50%;
 min-height:100vh;

}

.container__background h1
{
  width:100%;
  margin:0;
  padding:0;

  position:absolute;
  top:.5rem;
  left: 1rem;
  opacity:0;
    background-image:url("pretty.jpg");
  background-size:cover;
  text-align:left;
  text-transform:uppercase;
  letter-spacing:1em;
  font-size:4rem;
  font-weight: bold;


  -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  animation-duration: 1s;
  animation-name: opacityChange;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .4s; /* Safari 4.0 - 8.0 */
    animation-delay: .4s;

}


.container__background a
{
  width:100%;
  margin:0;
  padding:0;
  border-style: none;
  position:absolute;
  top:45rem;
  left: 1rem;
  opacity:0;
    background-image:url("pretty.jpg");
  background-size:cover;
  text-align:left;
  text-transform:uppercase;
  letter-spacing:1em;
  font-size:3rem;
  font-weight: bold;


  -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  animation-duration: 1s;
  animation-name: opacityChange;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .4s; /* Safari 4.0 - 8.0 */
    animation-delay: .4s;

}

@keyframes opacityChange {
  from {
    opacity:0;
  }

  to {
   opacity:1;

  }
}



h1 br
{

  content: "";
   display: block;
 margin-top: 0.3em;
}

.container_title
{
  width:100%;
  height:100vh;
  background:rgba(0,0,0,1);
  animation-duration: 1s;
  animation-name: glissement;
  -webkit-animation-fill-mode: forwards;

}

@keyframes glissement {
  from {
    width: 100%;
    background:rgba(0,0,0,1);

  }

  to {
    width: 40%;
    background:rgba(255,153,153,0.9);

  }
}

/*
**
for the float containment
**
*/

.clearfix

{
  discplay:table;
  content:"";
  clear:both;
}
