@media all and (max-width: 868px) {
.background-area.large{
    background: url(images/bg/bg03.jpg); 
    background-size: cover;
    

}
    
}

@media all and (min-width: 868px) {
    .background-area.large{
        background: url(images/bg/main.jpg); 
        background-size: cover;
        
    
    }
        
    }